* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Shantell Sans";
}

.header {
  background: #262626;
  height: 75px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
}
.header .text__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.header .text__wrapper .name {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-top: 10px;
}
.header .text__wrapper .slogan {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-top: 24px;
}

.logo__bcg .logo {
  background: #E6E6E6;
  width: 78px;
  height: 75px;
  flex-shrink: 0;
  margin-left: 92px;
}

.slogan {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-top: 10px;
}

.city {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-top: 25px;
}

.phone__wrapper {
  background: #E6E6E6;
  display: flex;
  justify-content: space-between;
  height: 445px;
}
.phone__wrapper .phone {
  height: 335px;
  width: 100%;
  z-index: 1;
}
.phone__wrapper .phone__wrapper__text {
  margin-right: 100px;
}
.phone__wrapper .phone__wrapper__text .phone__main__text {
  color: #262626;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 228px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.42px;
}
.phone__wrapper .phone__wrapper__text .phone__sub__text {
  color: #262626;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.4px;
  margin-top: -50px;
}

.about {
  background: #262626;
  background-image: url("/images/bg_about.svg");
}
.about .about__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.about .about__text {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
}
.about .about__text .text__yellow {
  color: #F6A91A;
}
.about .about__text .text__red {
  color: #FF5656;
}
.about .about__text .bold__text {
  font-weight: 600;
}
.about .about__container {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: -110px;
}
.about .about__container .about__line {
  border-radius: 4px;
  background: #E6E6E6;
  width: 1095px;
  height: 8px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about .about__container .schedule__title {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%; /* 0px */
  letter-spacing: 4.32px;
}
.about .about__container .container .flex__container__left .schedule__container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__time {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 4.32px;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text .text__yellow {
  color: #F6A91A;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__left {
  width: 220px;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__left .weekday, .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__left .saturday, .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__left .sunday {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 4.32px;
  height: 40px;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__r {
  width: 220px;
}
.about .about__container .container .flex__container__left .schedule__container .schedule__r .time__first, .about .about__container .container .flex__container__left .schedule__container .schedule__r .time__second, .about .about__container .container .flex__container__left .schedule__container .schedule__r .weekend {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 4.32px;
  height: 40px;
}
.about .about__container .container .flex__container__left .phone__container {
  position: relative;
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.32px;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 690px;
}
.about .about__container .container .flex__container__left .phone__container .phone__text::after {
  content: " ";
  background-image: url("/images/phone_icon.svg");
  width: 36px;
  height: 35.358px;
  flex-shrink: 0;
  position: absolute;
  left: -45px;
  top: 0px;
}
.about .about__container .container .flex__container__left .phone__container .number__phone .text__yellow {
  color: #F6A91A;
}
.about .about__container .container .flex__container__left .adress__containter {
  position: relative;
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.32px;
}
.about .about__container .container .flex__container__left .adress__containter .adress__text::after {
  content: " ";
  background-image: url("/images/addres.svg");
  width: 23.646px;
  height: 33.78px;
  flex-shrink: 0;
  position: absolute;
  left: -45px;
  top: 0px;
}
.about .about__container .container .flex__container__r {
  display: inline-block;
  margin-top: 170px;
  margin-right: 40px;
}
.about .about__container .container .flex__container__r .map__container {
  flex-shrink: 0;
}
.about .about__container .container .flex__container__r .map__container .map__addres {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.24px;
  text-align: center;
  margin-top: 20px;
  display: none;
}
.about .about__container .container .flex__container__r .map__container .map__addres::before {
  content: " ";
  background-image: url("/images/addres.svg");
  width: 23.646px;
  height: 33.78px;
  flex-shrink: 0;
  position: absolute;
  left: 35px;
  top: 390px;
  display: none;
}
.about .more__info {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
}
.about .arrows__container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.about .arrow__bcg {
  background: radial-gradient(63.43% 63.43% at 49.45% 80.99%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(50px);
  height: 90px;
}
.about .line__container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.about .line__container .first__line {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.about .line__container .second__line {
  width: 156px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-left: 50px;
  margin-right: 50px;
}
.about .line__container .third__line {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.about .circles {
  display: flex;
  justify-content: space-between;
}
.about .circles .left__circles {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 20px;
}
.about .circles .r__circles {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 20px;
}

.repair {
  height: 1080px;
  background: url("/images/bg_repair.svg");
}
.repair .repair__wrapper {
  margin-left: 500px;
  margin-right: 500px;
}
.repair .repair__wrapper .repair__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  padding-top: 20px;
}
.repair .repair__wrapper .line__container__repair {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.repair .repair__wrapper .line__container__repair .first__line__repair {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.repair .repair__wrapper .line__container__repair .second__line__repair {
  width: 782px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.repair .repair__wrapper .line__container__repair .third__line__repair {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.repair .repair__wrapper .repair__text {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.repair .repair__wrapper .more__info__repair {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
}
.repair .repair__wrapper .arrows__container__repair {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 20px;
}
.repair .repair__wrapper .repair__kind__text {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
}
.repair .repair__wrapper .repair__kind__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 180px;
  align-items: center;
}
.repair .repair__wrapper .repair__kind__wrapper .reair__kind__item .repair__kind__text {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.88px;
  text-align: center;
}
.repair .repair__wrapper .repair__kind__wrapper .reair__kind__item .repair__kind__price {
  color: #F6A91A;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
  text-align: center;
}

.our__works {
  background: #262626;
  background-image: url("/images/HDMI_1.svg");
  height: 470px;
  display: none;
}
.our__works .circles__our__works {
  display: flex;
  justify-content: space-between;
}
.our__works .circles__our__works .left__circles__our__works {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 20px;
}
.our__works .circles__our__works .left__circles__our__works .first__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works {
  display: flex;
  justify-content: space-between;
  width: 226px;
  margin-right: 20px;
}
.our__works .circles__our__works .r__circles__our__works .third__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works .fourth__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works .fifth__circle__our__works {
  margin-top: -35px;
}
.our__works .our__works__wrapper {
  margin-right: 300px;
  margin-left: 300px;
}
.our__works .our__works__wrapper .our__works__container {
  margin-top: -150px;
}
.our__works .our__works__wrapper .our__works__container .our__works__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  padding-top: 20px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .first__line__our__works {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .second__line__our__works {
  width: 380px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .third__line__our__works {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.our__works .our__works__wrapper .our__works__container .our__works__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
.our__works .our__works__wrapper .our__works__container .our__works__images img {
  width: 300px;
  border: none;
  border-radius: 20%;
}
.our__works .our__works__wrapper .our__works__container .our__works__images .our__works__first__image__container {
  position: relative;
}
.our__works .our__works__wrapper .our__works__container .our__works__images .our__works__first__image__container .our__works__first__image__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 260%);
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
}
.our__works .our__works__wrapper .our__works__container .more__info__our__works {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.our__works .our__works__wrapper .our__works__container .arrows__container__our__works {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.our__works .our__works__wrapper .our__works__container .arrow__bcg__our__works {
  background: radial-gradient(63.43% 63.43% at 49.45% 80.99%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(50px);
  height: 80px;
}

.news {
  background: #7b797a;
  height: 470px;
  display: none;
}
.news .news__wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
.news .news__wrapper .news__text {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-bottom: 23px;
  padding-top: 20px;
}
.news .news__wrapper .line__container__news {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.news .news__wrapper .line__container__news .first__line__news {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.news .news__wrapper .line__container__news .second__line__news {
  width: 232px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.news .news__wrapper .line__container__news .third__line__news {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.news .news__wrapper .news__images {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news .news__wrapper .news__images img {
  width: 300px;
  border: none;
  border-radius: 20%;
  height: 100%;
}
.news .news__wrapper .more__info__news {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.news .news__wrapper .arrows__container__news {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.footer {
  background: #262626;
  height: 125px;
  width: 100%;
}
.footer .footer__wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
.footer .footer__wrapper .footer__container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__container .kv__logo {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 59px;
  width: 59px;
}
.footer .footer__wrapper .footer__container .copy {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.88px;
  position: relative;
}
.footer .footer__wrapper .footer__container .copy .blue {
  color: #1380FF;
  position: absolute;
  left: -27px;
}
.footer .footer__wrapper .footer__container .dezign {
  color: #7B7A7A;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
  margin-top: 30px;
}
.footer .footer__wrapper .footer__container .footer__left__text {
  position: relative;
}
.footer .footer__wrapper .footer__container .footer__left__text .footer__service__name {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__left__text .footer__address {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.88px;
  margin-bottom: 30px;
}
.footer .footer__wrapper .footer__container .footer__left__text .footer__address::after {
  content: " ";
  background-image: url("/images/addres_b.svg");
  width: 21px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  left: -30px;
  top: -10px;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts {
  position: relative;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__contacts__text {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__number__phone {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__number__phone::after {
  content: " ";
  background-image: url("/images/phone_icon.svg");
  width: 36px;
  height: 35px;
  flex-shrink: 0;
  position: absolute;
  left: -50px;
  top: -10px;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(38, 38, 38, 0.85);
  z-index: 2;
}
.pop_up .pop_button {
  z-index: 2;
}

.pop_up_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.pop_up_container .pop_button {
  margin: auto;
  border-radius: 68px;
  border: 3px solid #E6E6E6;
  background: #1380FF;
  width: 661.26px;
  height: 86px;
  flex-shrink: 0;
  display: flex;
}
.pop_up_container .pop_button .pop_button_text {
  color: #E6E6E6;
  text-align: center;
  margin: auto;
  font-family: Shantell Sans;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.46px;
  align-self: center;
}

.pop_up_body {
  margin: auto;
  height: 731px;
  width: 1176px;
  border-radius: 68px;
  border: 3px solid #1380FF;
  background: url(/images/bg_pop.svg);
  background-color: #262626;
}
.pop_up_body .pop_title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.76px;
  margin-top: 20px;
}
.pop_up_body .pop_content {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 20px;
}
.pop_up_body .pop_content .pop_item_text {
  color: #7B7A7A;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
  margin-bottom: 10px;
}
.pop_up_body .pop_content .pop__item {
  position: relative;
}
.pop_up_body .pop_content .pop_item_input {
  width: 648px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #E6E6E6;
  margin-bottom: 20px;
}
.pop_up_body .pop_content .placeholder {
  position: absolute;
  top: 50px;
  left: 20px;
  color: #262626;
  font-family: Shantell Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
}
.pop_up_body .pop_content .pop__item:hover .placeholder {
  display: none;
}
.pop_up_body .pop_content .pop__item input::-moz-placeholder {
  opacity: 0.5;
}
.pop_up_body .pop_content .pop__item input::placeholder {
  opacity: 0.5;
}
.pop_up_body .pop_content .pop_item_input.last {
  height: 138px;
}
.pop_up_body .pop_content .pop_down_text {
  color: #7B7A7A;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
}

@media only screen and (max-width: 1920px) {
  html body div.wrapper div.about {
    background-size: 100vw;
    background-repeat: no-repeat;
  }
  html body div.wrapper div.repair {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 1920px) {
  .wrapper .about .about__container .container {
    display: flex;
  }
}
@media screen and (max-width: 1724px) {
  .wrapper .about .about__container .about__line {
    width: 955px;
  }
}
@media screen and (max-width: 1707px) {
  .wrapper .repair .repair__wrapper {
    margin-left: 400px;
    margin-right: 400px;
  }
}
@media screen and (max-width: 1707px) {
  .wrapper .phone__wrapper .phone__wrapper__text .phone__main__text {
    font-size: 178px;
  }
}
@media screen and (max-width: 1700px) {
  .wrapper .about .about__container {
    margin-right: 150px;
  }
}
@media screen and (max-width: 1589px) {
  .wrapper .about .about__container .about__line {
    width: 875px;
  }
}
@media screen and (max-width: 1536px) {
  .wrapper .about .about__container {
    margin-right: 150px;
  }
}
@media screen and (max-width: 1530px) {
  .wrapper .about .about__container .container .flex__container__r .map__container {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1528px) {
  .wrapper .about .about__container .about__line {
    width: 875px;
  }
}
@media screen and (max-width: 1512px) {
  .wrapper .about .about__container .container .flex__container__r .map__container {
    width: 100%;
    height: 100%;
  }
  .wrapper .about .about__container .container .flex__container__r .map__container .photo {
    width: 400px;
  }
}
@media screen and (max-width: 1507px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 48px;
  }
}
@media screen and (max-width: 1503px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 47px;
  }
}
@media screen and (max-width: 1501px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 46px;
  }
}
@media screen and (max-width: 1499px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 45px;
  }
}
@media screen and (max-width: 1497px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 44px;
  }
}
@media screen and (max-width: 1495px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 43px;
  }
}
@media screen and (max-width: 1493px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 42px;
  }
}
@media screen and (max-width: 1491px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 41px;
  }
}
@media screen and (max-width: 1489px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 40px;
  }
}
@media screen and (max-width: 1487px) {
  .wrapper .about .about__container .about__line {
    width: 775px;
  }
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 39px;
  }
}
@media screen and (max-width: 1485px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 38px;
  }
}
@media screen and (max-width: 1483px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 37px;
  }
}
@media screen and (max-width: 1481px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 36px;
  }
}
@media screen and (max-width: 1479px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 35px;
  }
}
@media screen and (max-width: 1477px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 34px;
  }
}
@media screen and (max-width: 1475px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 33px;
  }
}
@media screen and (max-width: 1473px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 32px;
  }
}
@media screen and (max-width: 1471px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 31px;
  }
}
@media screen and (max-width: 1469px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 30px;
  }
}
@media screen and (max-width: 1467px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 29px;
  }
}
@media screen and (max-width: 1465px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 28px;
  }
}
@media screen and (max-width: 1463px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 27px;
  }
}
@media screen and (max-width: 1461px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 26px;
  }
}
@media screen and (max-width: 1459px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 25px;
  }
}
@media screen and (max-width: 1457px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 24px;
  }
}
@media screen and (max-width: 1455px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 23px;
  }
}
@media screen and (max-width: 1453px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 22px;
  }
}
@media screen and (max-width: 1451px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 21px;
  }
}
@media screen and (max-width: 1449px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 1447px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 19px;
  }
}
@media screen and (max-width: 1445px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 18px;
  }
}
@media screen and (max-width: 1443px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 17px;
  }
}
@media screen and (max-width: 1441px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 16px;
  }
}
@media screen and (max-width: 1439px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 15px;
  }
}
@media screen and (max-width: 1437px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 14px;
  }
}
@media screen and (max-width: 1435px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 13px;
  }
}
@media screen and (max-width: 1433px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 12px;
  }
}
@media screen and (max-width: 1431px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 11px;
  }
}
@media screen and (max-width: 1429px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 10px;
  }
}
@media screen and (max-width: 1427px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 9px;
  }
}
@media screen and (max-width: 1425px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 8px;
  }
}
@media screen and (max-width: 1423px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 7px;
  }
}
@media screen and (max-width: 1421px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 6px;
  }
}
@media screen and (max-width: 1419px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 5px;
  }
}
@media screen and (max-width: 1417px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 4px;
  }
}
@media screen and (max-width: 1415px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 3px;
  }
}
@media screen and (max-width: 1413px) {
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    gap: 2px;
  }
}
@media screen and (max-width: 1413px) {
  .wrapper .repair .repair__wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wrapper .repair .repair__wrapper .kind__wrapper {
    margin-left: 270px;
    margin-right: 90px;
  }
  .wrapper .repair .repair__wrapper .repair__wrp {
    margin-left: 400px;
    margin-right: 400px;
  }
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    flex-wrap: nowrap;
    gap: 60px;
  }
}
@media screen and (max-width: 1361px) {
  .wrapper .about .about__container .about__line {
    width: 665px;
  }
}
@media screen and (max-width: 1317px) {
  .wrapper .about .about__container .about__line {
    width: 695px;
  }
  .wrapper .repair .repair__wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wrapper .repair .repair__wrapper .kind__wrapper {
    margin-left: 270px;
    margin-right: 30px;
  }
  .wrapper .repair .repair__wrapper .repair__wrp {
    margin-left: 400px;
    margin-right: 400px;
  }
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    flex-wrap: nowrap;
    gap: 60px;
  }
}
@media screen and (max-width: 1313px) {
  .wrapper .repair .repair__wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wrapper .repair .repair__wrapper html body div.wrapper div.repair div.repair__wrapper div.repair__wrp .kind__wrapper {
    margin-left: 270px;
    margin-right: 50px;
  }
  .wrapper .repair .repair__wrapper .repair__wrp {
    margin-left: 400px;
    margin-right: 190px;
  }
  .wrapper .repair .repair__wrapper .repair__kind__wrapper {
    flex-wrap: wrap;
    gap: 60px;
  }
  .wrapper .about .about__container .about__line {
    width: 785px;
  }
}
@media (max-width: 1210px) {
  .wrapper .phone__wrapper .phone .phone__image {
    display: none;
  }
}
@media only screen and (max-width: 1201px) {
  html body div.wrapper div.phone__wrapper div.phone {
    display: none;
    width: 0px;
    height: 445px;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper .phone__wrapper {
    height: 445px;
  }
  .wrapper .phone__wrapper .phone__wrapper__text {
    margin-right: 5px;
    margin-left: 5px;
  }
  .wrapper .footer {
    max-width: 1200px;
    background-size: contain;
  }
  .wrapper .footer .footer__wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__left__text .footer__address {
    margin-bottom: 11px;
  }
  .wrapper .repair {
    max-width: 1200px;
    background-repeat: no-repeat;
  }
  .wrapper .repair .repair__wrapper {
    margin-left: 18rem;
    margin-right: 5rem;
  }
  .wrapper .phone__wrapper {
    display: block;
    background-size: contain;
  }
  .wrapper .phone__wrapper .phone {
    display: none;
  }
  .wrapper .phone__wrapper .phone .phone__image {
    display: none;
  }
  .wrapper .about {
    max-width: 1200px;
    width: 100%;
    height: 680px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .wrapper .about .about__container {
    margin-left: 440px;
    margin-right: 220px;
  }
  .wrapper .about .about__container .container {
    font-size: 20px;
  }
  .wrapper .about .about__container .about__text {
    font-size: 16px;
  }
  .wrapper .about .about__container .container .flex__container__r .map__container .map {
    display: none;
  }
  .wrapper .about .about__container .about__line {
    width: 500px;
  }
  .about .about__container .schedule__title {
    font-size: 16px;
  }
  .about .about__container .container .flex__container__left .phone__container {
    font-size: 16px;
  }
  .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text {
    font-size: 16px;
  }
  .phone__wrapper .phone__wrapper__text .phone__main__text {
    font-size: 148px;
  }
  .about .about__container .container .flex__container__left .adress__containter .adress__text {
    font-size: 16px;
  }
  .wrapper .about .about__container .about__line {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper .repair {
    background-image: url("/images/BG_mobile.svg");
  }
  .wrapper .repair .repair__wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrapper .repair .repair__wrapper .repair__kind__text {
    display: none;
  }
  .wrapper .repair .repair__wrapper .kind__wrapper {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  .wrapper .repair .repair__wrapper .kind__wrapper .repair__kind__wrapper {
    gap: 1px;
    margin-top: 15vw;
  }
  .wrapper .repair .repair__wrapper .repair__wrp {
    margin-left: 70px;
    margin-right: 70px;
  }
  .wrapper .repair .repair__wrapper .repair__wrp .line__container__repair .second__line__repair {
    width: 302px;
  }
  .wrapper .about {
    background-image: none;
    height: 1480px;
  }
  .wrapper .about .about__container {
    margin-left: 80px;
    margin-right: 80px;
  }
  .wrapper .about .about__container .schedule__title {
    font-family: Shantell Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 18%;
    text-align: left;
    position: relative;
    padding-left: 50px;
  }
  .wrapper .about .about__container .schedule__title::after {
    content: " ";
    background-image: url("/images/shedule.svg");
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;
    left: -20px;
    top: -5 px;
  }
  .wrapper .about .about__container .container {
    flex-wrap: wrap;
  }
  .wrapper .about .about__container .container .flex__container__r {
    display: block;
    margin: 0 auto;
  }
  .wrapper .about .about__container .container .flex__container__left .adress__containter {
    position: relative;
  }
  .wrapper .about .about__container .container .flex__container__left .adress__containter .adress__text {
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 6vw;
  }
  .wrapper .about .about__container .container .flex__container__left .adress__containter .adress__text::after {
    content: " ";
    background-image: url("/images/mob_addres.svg");
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;
    left: -20px;
    top: 13px;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container {
    display: block;
    position: relative;
    line-height: normal;
    width: 100%;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container .phone__text {
    font-family: Shantell Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 18%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container .phone__text::after {
    content: " ";
    background-image: url("/images/big_phone.svg");
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;
    left: -20px;
    top: 20px;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container .number__phone {
    font-family: Shantell Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 18%;
    text-align: left;
    margin-left: 50px;
  }
  .wrapper .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text {
    font-family: Shantell Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 18%;
    text-align: left;
    padding-left: 50px;
  }
  .wrapper .about .about__container .about__line {
    width: 606px;
    border-radius: 7px;
    background: rgb(246, 169, 26);
  }
  .wrapper .about .about__container div.about__text {
    font-family: Shantell Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 18%;
    text-align: left;
  }
  .wrapper .phone__wrapper {
    height: 260px;
  }
  .wrapper .phone__wrapper .phone__wrapper__text .phone__sub__text {
    font-size: 22px;
  }
  .wrapper .phone__wrapper .phone__wrapper__text .phone__main__text {
    font-size: calc(50px + 90 * (100vw - 307px) / 1613);
    margin-bottom: 35px;
  }
  .wrapper .footer {
    position: relative;
    height: 255px;
  }
  .wrapper .footer .footer__wrapper {
    margin-right: 87px;
    margin-left: 87px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__r__section .kv__logo {
    position: absolute;
    top: 60px;
    right: 190px;
    width: 100px;
    height: 100px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__left__text .icon_phone {
    position: relative;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__left__text .icon_phone::after {
    content: " ";
    background-image: url("/images/phone_icon.svg");
    width: 36px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    left: -50px;
    top: -10px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__left__text .phone__mob {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__left__text .footer__mobile__number__phone {
    color: #E6E6E6;
    font-family: Shantell Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.88px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__r__text .footer__contacts {
    position: static;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .dezign {
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
  .wrapper .footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__number__phone {
    display: none;
  }
}
@media only screen and (max-width: 695px) {
  .wrapper .about .about__container .container .flex__container__left .adress__containter .adress__text {
    font-size: 20px;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container .number__phone .text__yellow {
    font-size: 20px;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container .phone__text {
    font-size: 20px;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 400px;
  }
  .wrapper .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text {
    font-size: 20px;
  }
  .wrapper .about .about__container .schedule__title {
    font-size: 20px;
  }
  .wrapper .about .about__container .about__line {
    width: 100%;
  }
}
@media only screen and (max-width: 664px) {
  .wrapper .repair .repair__wrapper .kind__wrapper .repair__kind__wrapper {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 612px) {
  .wrapper .repair .repair__wrapper .kind__wrapper .repair__kind__wrapper {
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 615px) {
  .wrapper .about .about__container .container .flex__container__r .map__container img.photo {
    width: 250px;
  }
}
@media only screen and (max-width: 593px) {
  .wrapper .repair .repair__wrapper .kind__wrapper .repair__kind__wrapper {
    margin-top: 1vw;
  }
}
@media only screen and (max-width: 551px) {
  .wrapper .repair .repair__wrapper .repair__wrp {
    margin-left: 20px;
    margin-right: 20px;
  }
  .wrapper .about .about__container {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 505px) {
  .wrapper .about .about__container .schedule__title {
    line-height: normal;
  }
  .wrapper .about .about__container .container .flex__container__left .phone__container {
    width: 100%;
  }
  .wrapper .about .about__container .container .flex__container__left .schedule__container .schedule__time .schedule__time__text {
    line-height: normal;
  }
  .wrapper .about .about__container .about__line {
    width: 446px;
  }
}
@media only screen and (max-width: 505px) {
  .wrapper .about .about__container div.about__line {
    width: 396px;
  }
}
@media only screen and (max-width: 471px) {
  .wrapper .repair .repair__wrapper .repair__wrp .line__container__repair .second__line__repair {
    width: 200px;
  }
}
@media only screen and (max-width: 456px) {
  .wrapper .about .about__container .container .flex__container__r .map__container img.photo {
    width: 180px;
  }
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}/*# sourceMappingURL=style.css.map */