* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  background: #262626;
  height: 75px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
}
.header .text__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.header .text__wrapper .name {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-top: 10px;
}
.header .text__wrapper .slogan {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-top: 24px;
}

.logo__bcg .logo {
  background: #E6E6E6;
  width: 78px;
  height: 75px;
  flex-shrink: 0;
  margin-left: 92px;
}

.slogan {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-top: 10px;
}

.city {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-top: 25px;
}

.phone__wrapper {
  background: #E6E6E6;
  display: flex;
  justify-content: space-between;
}
.phone__wrapper .phone {
  height: 335px;
  width: 100%;
  z-index: 1;
}
.phone__wrapper .phone__wrapper__text {
  margin-right: 100px;
}
.phone__wrapper .phone__wrapper__text .phone__main__text {
  color: #262626;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 228px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.42px;
}
.phone__wrapper .phone__wrapper__text .phone__sub__text {
  color: #262626;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.4px;
}

.about {
  background: #262626;
  background-image: url("/images/bcg.svg");
  height: 1000px;
}
.about .about__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.about .about__text {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
}
.about .about__container {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: -110px;
}
.about .about__container .about__line {
  border-radius: 4px;
  background: #E6E6E6;
  width: 1095px;
  height: 8px;
  flex-shrink: 0;
  margin-top: 67px;
  margin-bottom: 30px;
}
.about .about__container .schedule__title {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%; /* 0px */
  letter-spacing: 4.32px;
  margin-top: 208px;
}
.about .about__container .schedule__container {
  display: flex;
  height: 300px;
  justify-content: space-between;
  margin-top: 40px;
}
.about .about__container .schedule__container .schedule__time {
  display: flex;
  height: 300px;
  justify-content: space-between;
  gap: 5%;
}
.about .about__container .schedule__container .schedule__time .schedule__left {
  width: 200px;
}
.about .about__container .schedule__container .schedule__time .schedule__left .weekday, .about .about__container .schedule__container .schedule__time .schedule__left .saturday, .about .about__container .schedule__container .schedule__time .schedule__left .sunday {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 4.32px;
  height: 40px;
}
.about .about__container .schedule__container .schedule__r {
  width: 200px;
}
.about .about__container .schedule__container .schedule__r .time__first, .about .about__container .schedule__container .schedule__r .time__second, .about .about__container .schedule__container .schedule__r .weekend {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 4.32px;
  height: 40px;
}
.about .about__container .schedule__container .map__container {
  position: relative;
  margin-top: -180px;
}
.about .about__container .schedule__container .map__container .map {
  width: 600px;
  height: 382px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #E6E6E6;
}
.about .about__container .schedule__container .map__container .map__addres {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.24px;
  text-align: center;
  margin-top: 20px;
}
.about .about__container .schedule__container .map__container .map__addres::before {
  content: " ";
  background-image: url("/images/addres.svg");
  width: 23.646px;
  height: 33.78px;
  flex-shrink: 0;
  position: absolute;
  left: 35px;
  top: 390px;
}
.about .more__info {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
}
.about .arrows__container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.about .arrow__bcg {
  background: radial-gradient(63.43% 63.43% at 49.45% 80.99%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(50px);
  height: 90px;
}
.about .line__container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.about .line__container .first__line {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.about .line__container .second__line {
  width: 156px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-left: 50px;
  margin-right: 50px;
}
.about .line__container .third__line {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.about .circles {
  display: flex;
  justify-content: space-between;
}
.about .circles .left__circles {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 20px;
}
.about .circles .r__circles {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 20px;
}

.repair {
  height: 1080px;
  background: url("/images/BG.svg");
}
.repair .repair__wrapper {
  margin-left: 500px;
  margin-right: 500px;
}
.repair .repair__wrapper .repair__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  padding-top: 20px;
}
.repair .repair__wrapper .line__container__repair {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.repair .repair__wrapper .line__container__repair .first__line__repair {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.repair .repair__wrapper .line__container__repair .second__line__repair {
  width: 782px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.repair .repair__wrapper .line__container__repair .third__line__repair {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.repair .repair__wrapper .repair__text {
  color: #E6E6E6;
  font-family: Shantell Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.32px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.repair .repair__wrapper .more__info__repair {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
}
.repair .repair__wrapper .arrows__container__repair {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 20px;
}
.repair .repair__wrapper .repair__kind__text {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
}
.repair .repair__wrapper .repair__kind__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.our__works {
  background: #262626;
  background-image: url("/images/HDMI_1.svg");
  height: 470px;
}
.our__works .circles__our__works {
  display: flex;
  justify-content: space-between;
}
.our__works .circles__our__works .left__circles__our__works {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 20px;
}
.our__works .circles__our__works .left__circles__our__works .first__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works {
  display: flex;
  justify-content: space-between;
  width: 226px;
  margin-right: 20px;
}
.our__works .circles__our__works .r__circles__our__works .third__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works .fourth__circle__our__works {
  margin-top: -35px;
}
.our__works .circles__our__works .r__circles__our__works .fifth__circle__our__works {
  margin-top: -35px;
}
.our__works .our__works__wrapper {
  margin-right: 300px;
  margin-left: 300px;
}
.our__works .our__works__wrapper .our__works__container {
  margin-top: -150px;
}
.our__works .our__works__wrapper .our__works__container .our__works__title {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  padding-top: 20px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .first__line__our__works {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .second__line__our__works {
  width: 380px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.our__works .our__works__wrapper .our__works__container .line__container__our__works .third__line__our__works {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.our__works .our__works__wrapper .our__works__container .our__works__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
.our__works .our__works__wrapper .our__works__container .our__works__images img {
  width: 300px;
  border: none;
  border-radius: 20%;
}
.our__works .our__works__wrapper .our__works__container .our__works__images .our__works__first__image__container {
  position: relative;
}
.our__works .our__works__wrapper .our__works__container .our__works__images .our__works__first__image__container .our__works__first__image__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 260%);
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
}
.our__works .our__works__wrapper .our__works__container .more__info__our__works {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.our__works .our__works__wrapper .our__works__container .arrows__container__our__works {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.our__works .our__works__wrapper .our__works__container .arrow__bcg__our__works {
  background: radial-gradient(63.43% 63.43% at 49.45% 80.99%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(50px);
  height: 80px;
}

.news {
  background: #7b797a;
  height: 470px;
}
.news .news__wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
.news .news__wrapper .news__text {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.56px;
  margin-bottom: 23px;
  padding-top: 20px;
}
.news .news__wrapper .line__container__news {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.news .news__wrapper .line__container__news .first__line__news {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.news .news__wrapper .line__container__news .second__line__news {
  width: 232px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
  margin-right: 50px;
  margin-left: 50px;
}
.news .news__wrapper .line__container__news .third__line__news {
  width: 24px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E6E6E6;
}
.news .news__wrapper .news__images {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news .news__wrapper .news__images img {
  width: 300px;
  border: none;
  border-radius: 20%;
  height: 100%;
}
.news .news__wrapper .more__info__news {
  color: #E6E6E6;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.news .news__wrapper .arrows__container__news {
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.footer {
  background: #262626;
  height: 125px;
  width: 100%;
}
.footer .footer__wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
.footer .footer__wrapper .footer__container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__container .footer__left__text .footer__service__name {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__left__text .footer__address {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__contacts__text {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.footer .footer__wrapper .footer__container .footer__r__text .footer__contacts .footer__number__phone {
  color: #FFF;
  font-family: Shantell Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */